<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="google-site-verification" content="nFPEoA8GyM1FjAewnD7wNOlwf_OfbGkC5xa3nVE2cJY" />
	<title>{{ page.title }}</title>
	<meta name="description" content="Beranda wirozablenk.github.io">    
	<link rel="alternate icon" type="image/png" href="gambar/wirozablenk-103881101.png">
	<style>
		@font-face {font-family: "DipoStencil";src: url("fonts/DipoStencil-Regular.otf") format("woff");}
		body {margin: 0 auto; padding: 0;font-family: "DipoStencil";}
		a:link {text-decoration: none;}
		a:hover {text-decoration: underline;}
		header {padding: 10px;background: red;}
		main {padding: 10px;background: yellow;}
		footer {padding: 10px;background: green;}
	</style>
</head>
<body>
	<header><h1>GubugWirozablenk</h1></header>
	<main>{{ content }}</main>
	<footer>
		<a href="https://wirozablenk.github.io">GubugWirozablenk</a> Oleh <a href="https://github.com/wirozablenk">wirozablenk</a><br/>
		Situs Ini Dihosting <a href="https://github.com/wirozablenk/wirozablenk.github.io">GitHub</a><br/>
		M M X X I I
	</footer>
</body>
</html>
