<!DOCTYPE html>
<html lang="id" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }} &#8212; GubugWirozablenk</title>
	<meta name="description" content="Wirozablenk membahas {{ page.title }}">    
	<link rel="alternate icon" type="image/png" href="/gambar/wirozablenk-103881101.png">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="twitter:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ site.name }} membahas {{ page.title }}" />
	<style>
		body {margin: 0 auto; padding: 0;}
		a:link {text-decoration: none;}
		a:hover {text-decoration: underline;}
		header {padding: 10px;background: red;}
		main {padding: 10px;}
		.tampilan-gambar {width: 80%; height: auto}
		.publikasi {margin: 3px 4px;padding: 3px 4px;background: hsla(210,18%,87%,1);}
		footer {padding: 10px;background: green;}
	</style>
</head>
<body>
	<header><h1>GubugWirozablenk</h1></header>
	<main>
		<h2>{{ page.title }}</h2>
		<div class="entry-content">{{ content }}</div>
		<div class="publikasi">Dipublikasikan pada {{ page.date | date: "%e %B %Y %H:%M"}} -  {{ site.time | date_to_xmlschema }}</div>
	</main>
	<footer>
		<a href="https://wirozablenk.github.io">GubugWirozablenk</a> Oleh <a href="https://github.com/wirozablenk">wirozablenk</a><br/>
		Situs Ini Dihosting <a href="https://github.com/wirozablenk/wirozablenk.github.io">GitHub</a><br/>
		M M X X I I
	</footer>
</body>
</html>
